@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
 

body{font-size: 16px;  margin: 0 auto;  font-family: 'Open Sans', sans-serif; background:transparent }

.container {width:1170px; margin: 0 auto; box-sizing:border-box}
 .main-header{
    width: 100%;
    padding: 20px 0px;
    position: fixed;
    z-index: 99999;
    background:
    white;
    box-shadow: 0px 0px 4px
        #8080806e;
    }
 
     .logo {width:48%; float: left;
     a {font-size:50px; font-weight:600; text-decoration: none; line-height: 25px; }
    }
    .btn-demo {
        text-align: end;
        padding-top: 40px;
        a {
            color: #4e4e4e;
            text-decoration: none;
            line-height: 35px;
            border-radius: 3px;
            font-size: 16px;
            font-weight: 600;
            display: block;
        }
        a:hover {
            color: #e7342c;
            
        }
        text {
            margin-left: 3px;
        }
         
    }
    #banner {
        width: 100%;
        display: block;
        overflow: hidden;
        text-align: center;
        background-image: url(../images/banner.png);
        position: relative;
        height: 714px;
        background-repeat: no-repeat;
        background-size: cover;
   
         .col-md-12 {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left:0px;
            right:0px;
            margin: 0 auto;
 
        }


        h1 {
            font-size: 72px;
            font-weight: 600;
            color:white;
            width: 80%;
            margin: 0 auto;
            line-height: 100px;
        
        }
        p {
            font-size: 40px !important;
            color: white;
            line-height: 54px;
            width: 75%;
            margin: 0 auto;
        }
           
    }


    #job {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
        padding: 70px 0px;

         h1 {
            color: #2b3132;
            font-size: 40px;
            font-weight: 500;
            line-height: auto;
            margin-bottom: 25px;
        }

    p {
            color: #737879;
            font-size: 22px;
            line-height: 30px;
            font-weight: 300;
            width: 95%;
            margin: 0 auto;
        }
    }


    #Red {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        background: #e7342c;
        padding: 50px 0px;

        h2 {
            font-size: 29px;
            line-height: 36px;
            color: white;
            padding-top: 50px;
            font-weight: 300;
        }
    }

    #offer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 95px 0px;

        .offer-text p {
            width: 66%;
            float: right;
            color: #737879;
            font-size: 18px;
            line-height: 30px;
            font-weight: 300;
        }
        h5 {
            
            text-align: center;
            padding-top: 100px;
            color: #737879;
            font-size: 18px;
            line-height: 36px;
            font-weight: 600;
        }


        .job-training {
            position: relative;

            li {
                color:#737879;
                font-size: 18px;
                line-height: 27px;
                padding: 6px 0px;
                list-style: none;
              }
            li::before {
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                height: 50px;
                left: 0px;
                background-repeat: no-repeat;
                background-image: url(../images/list-style-icon.png);
            }
        }

        .check-form form {
            box-shadow: 0px 0px 4px 00000;
            float: left;
            background: #2b3132;
            border-radius: 3px;
            margin-top: 40px;
            padding: 40px;
            text-align: center;
           
        }
          h4 {
            color: white !important;
            text-align: center;
            padding: 0px 0px 20px;
        }
         input {
            width: 47%;
            margin: 1%;
            padding: 19px;
            border-radius: 3px;
            border: 0px;
            font-size: 16px;
            font-weight: 500;
             
        }

        select {
            color:#737879;
            float: left;
            width: 48%;
            margin: 1%;
            padding: 19px;
            border-radius: 3px;
            border: 0px;
            font-size: 16px;
             
        }

        button {
            padding: 13px 54px;
            border-radius: 3px;
            border: 0;
            width: 48%;
            position: relative;
            left: 0;
            margin-top: 20px;
            right: 0;
            background: #e43c2f;
            color: white;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            
        }
        button:hover {
            background: white;
            color: #e43c2f;
            transition: all ease-in-out 0.5s;
        }  

    }

    #journey {
        width: 100%;
        display: block;
        overflow: hidden;
        background: #e43c2f;
        padding: 80px 0px;

          span {
            font-size: 18px;
            color: white;
            font-weight: 400;
            letter-spacing: 2px;
        }
        h1 {
            color: white;
            font-size: 50px;
            font-weight: 400;
        }
        .journey-link {
            width: 100%;
            display: block;
            overflow: hidden;
            padding-top: 44px;
        }

        a {
            border-radius: 3px;
            color: #2b3132;
            font-size: 16px;
            background: white;
            padding: 25px 30px;
            display: block;
            text-decoration: none;
            text-align: center;
            width: 70%;
            max-width: 100%;
            font-weight: 700;
        }
        a:hover {
            background: #2b3132;
            color: white;
            transition: all ease-in-out 0.5s;
        }
    }




    footer {
        width: 100%;
        display: block;
        overflow: hidden;
        background: #2b3132;
        padding: 20px 0px;

        .footer-section-1 {
            width: 100%;
            display: block;
            overflow: hidden;
            padding: 0px 0px 30px;
            border-bottom: 2px solid #383d3e;
        }

        .footer-logo {
            width: 50%;
            float: left;
            display: block;
        }

        .footer-icon {
            float: right;
            ul {
                margin-top: 50px;
            }

            li {
                list-style: none;
                display: inline;
                padding: 0px 5px;
            }
        }

        .heading-footer-section {
            display: block;
            overflow: hidden;
            padding: 50px 0px;

            h6 {
                color: white;
                margin: 0px;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 3px;
                padding-left:40px;
            }
            ul li {
                list-style: none;
                a {
                    color: #b6bfc1;
                    text-decoration: none;
                    line-height: 40px;
                    font-size: 16px;
                    font-weight: normal;
                }
                a:hover{color: #e7342c;}
            }

            
            
        }
          p {
            margin: 0px;
            font-size: 16px;
            color: white;
            line-height: 30px;
            font-weight: normal;
        }

        .footer-form {
            margin-top: 20px;
            position: relative;

             input {
                padding: 17px;
                border-radius: 3px;
                border: 0px;
                font-size: 16px;
                width: 100%;
                position: relative;
            }
            #red {
                background: none;
            }

            button {
                background-image: url(../images/footer-submit-btn.png) !important;
                border: none;
                height: 59px;
                background-repeat: no-repeat !important;
                background-position: center;
                float: right;
                width: 60px;
                margin-top: -59px;
                position: absolute; 
                top: 59px;     
                right: 0;
            }
        }

        .address span {
            color: #E8322E;
            font-size: 16px;
            font-weight: normal;
            padding-left: 40px;
            margin-top: 20px;
            display: block;
        }
        .address samp  {
            color: #fff;
            font-size: 16px;
            font-weight: normal;
            padding-left: 40px; 
            display: block;
        }

        .address   a {
            color: #fff;
            font-size: 16px;
            font-weight: normal;
            display: block;
        }
        p {
            margin-bottom: 20px;
        }
           .copy-right {
            display: block;
            overflow: hidden;
            text-align: center;
            padding-top: 30px;
            border-top: 2px solid #383d3e;
        } 
        
    }



    
@media only screen and (max-width: 1199px) {

    body{overflow-x: hidden;}
   
   #banner{

  
     h1 {
        font-size: 60px;
        line-height: 80px; }
  
    p {
        font-size: 33px !important;
    }
}
#journey{

 

      span {
        font-size: 16px;
    }

    h1 {    
        font-size: 40px;
    }

}

}


@media only screen and (max-width: 991px) {

    #job {
        .job-heading{

            p {  
                font-size: 18px;
                width: 100%;
                }
        }

     
}
   #Red{ 
   
   .col-md-4 {
        flex: 0 0 100.33333%;
        max-width: 100.33333%;
    }

      h2 {
        font-size: 26px;  
        padding-top: 50px;
        padding-bottom: 50px;
    }

}


    #offer {  
    
        .offer-text { 
        p {
        width: 100%;
        float: unset;
        text-align: center;
    }
}

      .col-md-4 {
        flex: 0 0 100.33333%;
        max-width: 100.33333%;
    }
    .offer-section-1{
        h5 { 
        padding-top: 0px;
        }


    }

.col-md-8 {
	flex: 0 0 100.667%;
	max-width: 100.66667%;
}

    }

    #journey{
        text-align: center;

        .col-md-8 {
            flex: 0 0 100.66667%;
            max-width: 100.66667%;
        }

        .col-md-4 {
            flex: 0 0 100.33333%;
            max-width: 100.33333%;
        }
        .journey-link{
            padding-top: 20px;
              a { 
                text-align: center;
                width: 35%;
                margin: 0 auto;
                padding: 20px 30px;
            }

        }

    
    }

    footer {
        .col {
            flex-basis: 50%;
            flex-grow: 1;
        } 
    }



}


 


@media only screen and (max-width: 767px) {
    

    .main-header {
        display: flex;
        text-align: center;
        .logo {
            width: 100%;
            float: unset;
        } 
        .btn-demo {
            text-align: unset;
            padding-top: 20px;
        }
    }

    #banner{
    .col-md-12 {
     top: 60%;
     transform: translateY(-50%);
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 10px;
    }
     p {
        font-size: 18px !important;
        line-height: 30px;
    }



    }


#job{
    .job-heading {
        h1 {
            font-size: 30px;
        }

        p {font-size: 16px;}
    }
}


#offer {
    .check-form{

          form {
            
            float: unset;

             input {
                width: 100%;
                margin: 1%;
            }
            select {
                width: 100%;
                margin: 1%;
            }
              button {
            width: 100%;   
            margin-top: 10px;
            }
             
            
        }
    }


}


#journey{ display: flex;

    h1 {
        font-size: 30px;
    }
    .journey-link{ padding-top: 10px;
        a {
            width: 50%;
        }
    }
}



footer { display:flex; padding: 50px 0px 20px;
    .footer-section-1 {

         .footer-logo {
            width: 100%;
            float: unset;
            text-align: center;
             
        }
        .footer-icon {
            float: unset;
            text-align: center;

            ul{ margin-top:20px; padding-left:0px;}
        }
    }
    .heading-footer-section{   padding:20px 0px;}
     .col {
        flex-basis: 100%;
        flex-grow: 1;
     
}

}

}


@media only screen and (max-width: 420px) {

#banner {
 h1 {
    font-size: 30px;
    line-height: 50px;
    padding-bottom: 10px;
}


}
    #journey {
        span {font-size: 12px;}

        h1{
            font-size: 24px;
        }

        .journey-link {
            a {width:100%;}
        }
    }

}





















 

    
   